<html>
  <%- include("_partials/header.html", { title: "All Todos" }) %>

  <body>
    <progress indeterminate="true"></progress>

    <div class="container">
      <%- include("_partials/nav.html") %>
      <article>
        <header>
          <hgroup>
            <h2>Todos</h2>
            <h3>Some things that gotta get done...</h3>
          </hgroup>

          <form action="/todo" method="get">
            <% if (options.sortOn) { %>
            <input type="hidden" name="sortOn" value="<%= options.sortOn %>" />
            <input
              type="hidden"
              name="sortDir"
              value="<%= options.sortDir %>"
            />
            <% } %>

            <input name="search" value="<%= options.search %>" type="search" />
          </form>

          <%- include("_partials/pagination.html") %>
        </header>

        <table class="todo-list" role="grid">
          <thead>
            <tr>
              <% Object.entries({complete: "Done", title: "Title", modified:
              "Last Updated"}).forEach(([key, val]) => { %> <%-
              include("_partials/th.html", { field: key, label: val }) %> <% })
              %>

              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% todos.forEach(todo=> { %>
            <tr class="<%= todo.id === highlight ? 'highlight' : null %>">
              <td width="5%">
                <form
                  action="/todo/<%= todo.id %>"
                  method="POST"
                  class="checkbox-form"
                >
                  <input type="hidden" name="_method" value="PUT" />
                  <input type="checkbox" <%= todo.complete ? 'checked="true"' :
                  null %> />
                </form>
              </td>

              <% if (locals.editing===todo.id) { %>

              <td colspan="2">
                <form class="block" action="/todo/<%= todo.id %>" method="POST">
                  <input type="hidden" name="_method" value="PUT" />
                  <input
                    type="text"
                    name="todo[title]"
                    value="<%= todo.title %>"
                  />
                </form>
              </td>

              <% } else { %>

              <td width="35%">
                <a href="/todo/<%= todo.id %>">
                  <%- helpers.highlight(todo.title) %>
                </a>
                <% todo.tags.forEach(tag => { %>
                <span class="tag"><%= tag.key %></span>
                <% }) %>
              </td>

              <td width="15%">
                <%= new Date(todo.modified).toLocaleString() %>
              </td>

              <% } %>

              <td width="15%">
                <div class="btn-container">
                  <a href="/todo/<%= todo.id %>/edit" role="button">
                    <i class="fa-solid fa-pencil"></i>
                  </a>

                  <form
                    class="inline"
                    action="/todo/<%= todo.id %>"
                    method="POST"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button
                      type="submit"
                      class="secondary fa-solid fa-trash"
                    ></button>
                  </form>
                </div>
              </td>
            </tr>

            <% }); %>
          </tbody>
        </table>

        <footer>
          <form method="post" action="/todo" class="new-todo">
            <label>
              <input
                class="slim"
                type="text"
                name="todo[title]"
                placeholder="add another todo"
              />
            </label>
          </form>

          <%- include("_partials/pagination.html") %>
        </footer>
      </article>
    </div>

    <script type="module" defer>
      import { registerActions } from "/golden-age/dist/index.js";
      import CheckboxForm from "/checkbox-form.js";
      registerActions(CheckboxForm);
    </script>
  </body>
</html>
