<html>
  <%- include("_partials/header.html", { title: todo.title }) %>

  <body>
    <div class="container">
      <%- include("_partials/nav.html") %>
      <article>
        <header>
          <h1 class="slim" data-au-ref="header"><%= todo.title %></h1>
          <% todo.tags.forEach(tag => { %>
          <span class="tag"><%= tag.key %></span>
          <% }) %>

          <form action="/tag" method="post" data-au-ref="tagForm">
            <input type="hidden" name="todoId" value="<%= todo.id %>" />
            <input
              type="text"
              list="tags"
              name="tag[key]"
              data-au-force
              data-au-ref="tagInput"
            />

            <datalist id="tags">
              <% tags.forEach(tag => { %>
              <option value="<%= tag.key %>"><% }) %></option>
            </datalist>

            <input type="submit" value="save" />
          </form>
        </header>

        <form method="POST" action="/todo/<%= todo.id %>">
          <div class="row">
            <div class="col-xs-6">
              <input type="hidden" name="_method" value="PUT" />
              <input
                placeholder="title"
                type="text"
                name="todo[title]"
                data-au-ref="titleInput"
                value="<%= todo.title %>"
              />
              <textarea
                data-au-ref="mdTextarea"
                placeholder="markdown description"
                rows="10"
                name="todo[description]"
              >
<%= todo.description %></textarea
              >
              <div class="btn-container">
                <a href="/todo" class="secondary" role="button">
                  <span class="fa-solid fa-backward"></span>
                  Cancel
                </a>

                <button type="submit" class="center">
                  <span class="fa-solid fa-floppy-disk"></span>
                  Save Changes
                </button>
              </div>
            </div>
            <div class="col-xs-6" data-au-ref="mdPreview"></div>
          </div>
        </form>
      </article>
    </div>
  </body>
</html>
