<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
  </link>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </link>
  <link rel="stylesheet" href="//unpkg.com/@picocss/pico@1.4.4/css/pico.css">
  </link>
  <link rel="stylesheet" href="/styles.css">
  </link>


  <title><%= title %></title>

  <script type="module">
    import Patcher from "/golden-age/dist/index.js"
    import IndexPage from "/index-page.js"
    import ShowPage from "/show-page.js"
    Patcher.create({ pages: { IndexPage, ShowPage } })
  </script>
</head>